* {
    margin: 0;
    padding: 0;

  }
body{
    height: 100vh;
}
  
  
.messagingPage{
 
    background-color: #424549;
   
}
.messagingPage {
    margin: 0;
    padding: 0;
  
}






.messagingArea {
    /* background-color: red; */
    flex: 8;
    margin-right: 10px;
   
    height: calc(100vh - 50px);

}

.messageItem {
    margin: 2px;
  
    margin-left: 20px;
    border: 1px;
    min-height: 50px;
    color: white;
    padding: 5px;
   
}

.messageItemHeader{
    font-weight: bold;
    margin-bottom: 1px;

}




.messageList ul {
    /* background-color: blue; */
    height: 80vh;
    overflow-y: scroll;
}

.messageList ul::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar{
    display: none;
}
.messageBox {
    text-align: center;
    /* background-color: green; */

    height: 10vh;
    width: 100%;

}

.messageBox input {
    margin-top: 15px;
    height: 30px;
   
    border: 0;

}
.messageBox input[type=text]{
    width: calc(90%);
    color: white;
    padding-left: 10px;
    background-color: #2F3136;
    border-radius: 5px 5px 5px 5px;
}

.messageBox input[type=text]::placeholder{
  color: white;
  padding-left: 10px;
}

.messageBox input[type=submit]{
    width: 0px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 0 5px 5px 0;
}

.messageBox input[type=text]:active{
    border: 0;
}