* {
    margin: 0;
    padding: 0;

  }
body{
    height: 100vh;
}
  
  
.messagingPage{
 
    background-color: aliceblue;
   
}
.messagingPage {
    margin: 0;
    padding: 0;
  
}

.topBar {
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: white;
    border: 0;
    
    border-bottom: 1px;
    border-color: lightgray;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    
}

.topBar div {
    text-align: left;
    margin-right: 60px;
    font-weight: bold;
    font-size: large;
    margin-top: 15px

}

.topBar button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    border: 0;
    color: white;
    border-radius: 5px;
    background-color: cornflowerblue;
    
}




.messagingArea {
    /* background-color: red; */
    flex: 8;
    margin-right: 10px;
   
    height: calc(100vh - 50px);

}

.messageItem {
    margin: 10px;
    border: 1px;
    min-height: 50px;
    border-color: lightgray;
    border-style: solid;
    background-color: white;
    padding: 5px;
}

.messageItemHeader{
    font-weight: bold;
    margin-bottom: 5px;

}

.messageList ul {
    /* background-color: blue; */
    height: 80vh;
    overflow-y: scroll;
}

.messageList ul::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar{
    display: none;
}
.messageBox {
    text-align: center;
    /* background-color: green; */
    height: 10vh;
    width: 100vw;

}

.messageBox input {
    height: 30px;
   
    border: 0;

}
.messageBox input[type=text]{
    width: 80%;
    border-radius: 5px 0 0 5px;
}

.messageBox input[type=submit]{
    width: 100px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 0 5px 5px 0;
}

.messageBox input[type=text]:active{
    border: 0;
}