* {
    margin: 0;
    padding: 0;
    
}

.registrationPage{
    color: white;
    background-color: #424549;
    height: 100vh;
    
}

.registrationFormWrapper{
    position: absolute;
    top: 20vh;
    left: calc(50vw - 171px);
    text-align: center;
    background-color: #36393e;
    padding: 70px;
    border-radius: 5px;
    
 
}

.registrationForm input {
    display: block;
    margin: 5px auto;

    width: 200px;
    height: 30px;
   
}

.registrationForm input{
    border: 0;
    background-color: #23272a;
    border-radius: 5px;
    height: 40px;
    color: white;
   
 }

 .registrationForm input::placeholder{
    
    color: white;
    text-align: center;
   
 }


.registrationForm input[type='submit']{
    width: 70px;
    background-color: #7289da;
    border: 0;
    color:white;
    border-radius: 5px;
}



.registrationFormWrapper button {
    width: 70px;
    height: 40px;
    color: white;
    border: 0;
    background-color:#23272a;
  
    border-radius: 5px;

}



